<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
    integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7"
    crossorigin="anonymous"
  />
</head>

<div class="card">
  <div class="headerimage">
    <svg
      class="animetarget"
      width="90"
      height="90"
      viewBox="0 0 48 48"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M8 39C8 37.6739 8.52678 36.4021 9.46447 35.4645C10.4021 34.5268 11.6739 34 13 34H40"
        stroke="#2194f3"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M13 4H40V44H13C11.6739 44 10.4021 43.4732 9.46447 42.5355C8.52678 41.5979 8 40.3261 8 39V9C8 7.67392 8.52678 6.40215 9.46447 5.46447C10.4021 4.52678 11.6739 4 13 4V4Z"
        stroke="#2194f3"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="loginform">
      <div class="form-group">
        <label for="email">Enter your email to reset your password</label>
        <div class="inputcontainer">
          <input
            type="text"
            formControlName="email"
            class="form-control height100"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
        </div>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
      </div>
      <span class="error-msg">{{ errorMsg }}</span>
      <div class="margin-top-lg form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Reset
        </button>
      </div>
    </form>
  </div>
</div>
