  <div class="modal-header">
      <h4 class="modal-title montst-bg-it" id="modal-basic-title">{{ recipe_full.Name }}</h4>
      <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> -->
          <!-- <span aria-hidden="true">&times;</span> -->
          <button mat-button (click)="bookmark_recipe()">
              <mat-icon>bookmark_border</mat-icon>
          </button>
          <!-- <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> -->
              <!-- <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/> -->
          <!-- </svg> -->
      <!-- </button> -->
  </div>
  <div class="modal-body">
    <!-- <form> -->
      <!-- <div class="form-group"> -->
      <button mat-button class="floatright" (click)="modal.close('Save click')">
          <mat-icon>edit</mat-icon>
      </button>
        <label ngbAutofocus for="ingredientsdiv" class="montst">Ingredients</label>
        <div *ngFor="let ingredient of recipe_full.Ingredients" id="ingredientsdiv">
          <p class="montst-sm">{{ ingredient }}</p>
        </div>
        <br>
        <hr>
        <label for="directionsdiv" class="montst">Directions</label>
        <div *ngFor="let direction of recipe_full.Directions" id="directionsdiv">
          <p class="montst-sm">- {{ direction }}</p>
        </div>
      <!-- </div> -->
    <!-- </form> -->

  </div>
  <div class="modal-footer">
      <div *ngIf="recipe_full.Pending">
          <button mat-button (click)="approveRecipe()" color="primary">Approve</button>
          <button mat-button (click)="rejectRecipe()" color="primary">Reject</button>
          <!-- <mat-form-field> -->
              <!-- <mat-label>Add a comment</mat-label> -->
            <!-- <input matInput value="" placeholder="Enter text..."> -->
          <!-- </mat-form-field> -->
      </div>
      <div *ngIf="!recipe_full.Pending" class="tilefix">
          <!-- <a role="button"><mat-icon>forum</mat-icon></a> -->
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title><mat-icon>forum</mat-icon></mat-panel-title>
                <mat-panel-description></mat-panel-description>
              </mat-expansion-panel-header>
              <div *ngFor="let comment of recipe_full.comments" id="commentsdiv">
                <p class="montst-sm">- {{ comment.text }}</p>
              </div>
              <div>
                 <input class="floatleft widthtf" matInput [(ngModel)]="newComment" type="text" name="" placeholder="Add a comment..."/>
                 <a class="floatright widthof" (click)="addComment()" role="button"><mat-icon>send</mat-icon></a>
              </div>
            </mat-expansion-panel>
          </mat-accordion>




      </div>
  </div>

