  <div class="modal-header" (mouseenter)="editable('name',true)" (mouseleave)="editable('name',false)">



      <div *ngIf="editing_name == false">
          <div contenteditable="false"> <h4 class="modal-title montst-bg-it" id="modal-basic-title">{{ recipe_full.Name }}</h4></div>
      </div>
      <div *ngIf="editing_name == true">
        <div contenteditable="true" ngDefaultControl [(ngModel)]="recipe_full.Name"> <input type="text" value="{{ recipe_full.Name }}" class="modal-title montst-bg-it" id="modal-basic-title"></div>
      </div>

      <div *ngIf="editable_name == true">
        <button mat-button (click)="editRecipe('name')">
          <mat-icon>edit</mat-icon>
        </button>
      </div>


      <div *ngIf="userSaved()">

        <button mat-button (click)="shareRecipe()" ngbTooltip="Link copied" triggers="click:blur">
          <mat-icon>share</mat-icon>
        </button>

        <button mat-button (click)="unbookmark_recipe()">
          <mat-icon>bookmark</mat-icon>
        </button>

      </div>

      <div *ngIf="!userSaved()">

        <button mat-button (click)="shareRecipe()" ngbTooltip="Link copied" triggers="click:blur">
          <mat-icon>share</mat-icon>
        </button>

        <button mat-button (click)="bookmark_recipe()">
          <mat-icon>bookmark_border</mat-icon>
        </button>

      </div>

  </div>


  <!-- modal-body -->
  <div class="modal-body">

      <div (mouseenter)="editable('meta',true)" (mouseleave)="editable('meta',false)">
        <div *ngIf="editable_meta == true">
          <button mat-button class="floatright" (click)="editRecipe('meta')">
              <mat-icon>edit</mat-icon>
          </button>
        </div>

        <div *ngIf="editing_meta == false">
          <div class="graysmall">
            <p class="inline">Type:</p>
            <p class="inline">{{ recipe_full.Type }}</p>
          </div>
          <div class="graysmall">
            <p class="inline">Length:</p>
            <p class="inline">{{ recipe_full.timelength }}</p>
          </div>
          <div class="graysmall">
            <p class="inline">Difficulty:</p>
            <p class="inline">{{ recipe_full.Difficulty }}</p>
          </div>
          <div class="graysmall">
            <p class="inline">Author:</p>
            <!-- <p class="inline">link</p> -->
            <p class="inline">{{ recipe_full.author }}</p>
          </div>
          <div class="graysmall">
            <p class="inline">Submitted by:</p>
            <p class="inline">{{ recipe_full.submittedby }}</p>
          </div>
        </div>
        <div *ngIf="editing_meta == true">
          <div class="graysmall">
            <p class="inline">Type:</p>
            <p contenteditable="true" class="inline">{{ recipe_full.Type }}</p>
          </div>
          <div class="graysmall">
            <p class="inline">Length:</p>
            <p contenteditable="true" class="inline">{{ recipe_full.timelength }}</p>
          </div>
          <div class="graysmall">
            <p class="inline">Difficulty:</p>
            <p contenteditable="true" class="inline">{{ recipe_full.Difficulty }}</p>
          </div>
          <div class="graysmall">
            <p class="inline">Author:</p>
            <!-- <p class="inline">link</p> -->
            <p contenteditable="true" class="inline">{{ recipe_full.author }}</p>
          </div>
          <div class="graysmall">
            <p class="inline">Submitted by:</p>
            <p contenteditable="true" class="inline">{{ recipe_full.submittedby }}</p>
          </div>
        </div>

      </div>
      <hr>


        <div *ngIf="recipe_full && recipe_full.images[0]">
          <div class="inlined imagewrap" *ngFor="let image of recipe_full.images;let i = index">
            <mat-icon *ngIf="isRemoveable(i)" (click)="removeImage()" class="close">clear</mat-icon>
            <!-- <mat-icon *ngIf="isRemoveable(i)" class="close">clear</mat-icon> -->
            <img class="inlined" (mouseenter)="showremove(true,i)" (mouseleave)="showremove(false,i)" src="{{'data:image/jpg;base64,' + image.filedata}}" width="150" alt="">
          </div>
          <!-- <img *ngIf="recipe_image" [src]="recipe_image" width="150" alt=""> -->
        </div>



      <div *ngIf="user && user.adminflag==true" class="image-upload form-group">
        <!-- <label for="fileupload" (click)="upload_image()" ><mat-icon>attach_file</mat-icon></label> -->
        <input type="file" name="fileupload" id="fileupload" (change)="readImage($event.target.files)">
        <!-- <button>Upload</button> -->
      </div>

      <hr>


      <!-- ingredients -->
      <div (mouseenter)="editable('ingredients',true)" (mouseleave)="editable('ingredients',false)">
        <div *ngIf="editable_ing == true">
          <button mat-button class="floatright" (click)="editRecipe('ingredients')">
              <mat-icon>edit</mat-icon>
          </button>
        </div>

        <label ngbAutofocus for="ingredientsdiv" class="montst">Ingredients</label>
        <div *ngIf="editing_ing == false">
          <div *ngFor="let ingredient of recipe_full.Ingredients" id="ingredientsdiv">
            <div contenteditable="false"> <p class="montst-sm">{{ ingredient }}</p></div>
          </div>
        </div>
        <div *ngIf="editing_ing == true">
          <div *ngFor="let ingredient of recipe_full.Ingredients;let i = index;trackBy:trackByIdx" id="ingredientsdiv">
            <div name="ingredientslist" ngDefaultControl [(ngModel)]="recipe_full.Ingredients[i]" class="editable montst-sm"> <input type="text" value="{{recipe_full.Ingredients[i]}}" class="montst-sm"></div>
          </div>
          <button mat-button (click)="addIngredient()" ><mat-icon>add</mat-icon></button>
        </div>
        <br>
      </div>

      <hr>

      <!-- directions -->
      <div (mouseenter)="editable('directions',true)" (mouseleave)="editable('directions',false)">
        <div *ngIf="editable_dir == true">
          <button mat-button class="floatright" (click)="editRecipe('directions')">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <label for="directionsdiv" class="montst">Directions</label>
        <div *ngIf="editing_dir == false">
          <div *ngFor="let direction of recipe_full.Directions;let i = index;" id="directionsdiv">
            <p class="montst-sm">{{i}}. {{ direction }}</p>
          </div>
        </div>
        <div *ngIf="editing_dir == true">
          <div *ngFor="let direction of recipe_full.Directions;let i = index;" id="directionsdiv">
            <div ngDefaultControl [(ngModel)]="recipe_full.Directions[i]" class="editable montst-sm"> <input type="text" value="{{recipe_full.Directions[i]}}" class="montst-sm"></div>
          </div>
          <button mat-button (click)="addDirection()" ><mat-icon>add</mat-icon></button>
        </div>
      </div>

  </div>

  <!-- modal-footer -->
  <div class="modal-footer">
      <div *ngIf="recipe_full.Pending">
          <button mat-button (click)="approveRecipe()" color="primary">Approve</button>
          <button mat-button (click)="rejectRecipe()" color="primary">Reject</button>
          <!-- <mat-form-field> -->
              <!-- <mat-label>Add a comment</mat-label> -->
            <!-- <input matInput value="" placeholder="Enter text..."> -->
          <!-- </mat-form-field> -->
      </div>
      <div *ngIf="editing_ing == true || editing_dir == true">
        <button mat-button (click)="cancelEdits()" color="basic">Cancel</button>
        <button mat-button (click)="saveEdits()" color="primary">Save Changes</button>
      </div>

      <div *ngIf="!recipe_full.Pending" class="tilefix">
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title><mat-icon>forum</mat-icon></mat-panel-title>
                <mat-panel-description></mat-panel-description>
              </mat-expansion-panel-header>
              <div *ngFor="let comment of recipe_comments" id="commentsdiv">
                <p class="montst-sm"><strong>{{ comment.username }}</strong></p>
                <p class="montst-sm">&nbsp;&nbsp;{{ comment.text }}</p>
              </div>
              <div>
                 <input class="floatleft widthtf" matInput [(ngModel)]="newComment" type="text" name="" placeholder="Add a comment..."/>
                 <a class="floatright widthof" (click)="addComment()" role="button"><mat-icon>send</mat-icon></a>
              </div>
            </mat-expansion-panel>
          </mat-accordion>




      </div>
  </div>

