nav {
    padding-bottom: 12px;
    padding-top: 3px;
}

nav a{
    text-decoration: none;
    color: black !important;
    margin-left: 10px;
    margin-bottom: 0px;

    padding: 5px 10px;
    display: inline-block;
    border-radius: 4px;
    color: #578fc1;
    font-size: 1.2em;
    color: gray !important;
    vertical-align: middle;
}

nav a:hover{
    background-color: #f2f2f2;
}

nav .router-link-active{
    color:red !important;
 }

.box-shadow{
    box-shadow: 0 .25rem .75rem rgba(0,0,0,.05);
}

.trdbanner{
    font-size: 1.2em !important;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    color: black !important;
}

.iconclickable:hover{
    cursor: pointer !important;
}


.floatright{
    float:right;
}

#dropdownBasic1 > mat-icon{
    vertical-align:middle;
    display: inline-block;
    /* bottom: px; */
}
#dropdownBasic1 > p{
    display: inline-block;
    padding-left: 5px;
    padding-top: 15px;
}