<h1 mat-dialog-title>Add a Recipe</h1>
<div mat-dialog-content>

<!-- <p>Recipe Name</p> -->
<!-- <p>
  <mat-form-field>
    <mat-label>Picture (optional)</mat-label>
    <input matInput>
  </mat-form-field>
</p> -->
<p>
  <mat-form-field>
    <mat-label>Recipe Name</mat-label>
    <input matInput [(ngModel)]="data.Name" required >
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <mat-label>Ingredients (comma-separated)</mat-label>
    <input matInput value="" [matChipInputFor]="chipList" (matChipInputTokenEnd)="dialogue_addIngredient()" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (change)="dialogue_addIngredient()" name="d_ingredient_field" [(ngModel)]="dialogue_ingredient">
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let ingredient of data.Ingredients" (removed)="dialogue_removeIngredient(ingredient)">
          {{ ingredient }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
  </mat-form-field>
</p>

<p>
    <mat-form-field>
      <mat-label>Directions (Please enter as ordered steps)</mat-label>
      <textarea matInput value="" (keyup.enter)="addNumbering()" (change)="dialogue_addDirection()" name="d_direction_field" [(ngModel)]="dialogue_direction"></textarea>
    </mat-form-field>
</p>
<p>
    <mat-form-field>
      <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="dialogue_type" (selectionChange)="dialogue_addType()" matInput multiple>
      <mat-option value="Breakfast">Breakfast</mat-option>
      <mat-option value="Lunch/Dinner">Lunch/Dinner</mat-option>
      <mat-option value="Dessert">Desserts</mat-option>
      <mat-option value="Snacks/Sauces">Sauces/Sides</mat-option>
      <mat-option value="Holiday">Holiday</mat-option>
      <mat-option value="Breads">Breads</mat-option>
      <mat-option value="Salads">Salads</mat-option>
      <mat-option value="Soups">Soups</mat-option>
    </mat-select>

    </mat-form-field>
</p>
<p>
    <mat-form-field>
      <mat-label>Difficulty</mat-label>
    <mat-select [(ngModel)]="dialogue_difficulty" (selectionChange)="dialogue_addDifficulty()" matInput>
      <mat-option value="Easy">Easy</mat-option>
      <mat-option value="Moderate">Moderate</mat-option>
      <mat-option value="Hard">Hard</mat-option>
    </mat-select>

    </mat-form-field>
</p>
<p>
    <mat-form-field>
      <mat-label>Time (in minutes)</mat-label>
      <input matInput [(ngModel)]="data.timelength">
    </mat-form-field>
</p>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
    <div *ngIf="data.Name == '' || data.timelength == 0" >
        <button mat-button disabled [mat-dialog-close]="data" cdkFocusInitial>Submit Suggestion</button>
    </div>
    <div *ngIf="data.Name != '' && data.timelength != 0">
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit Suggestion</button>
    </div>
</div>
