@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  background-image: url('../../assets/Rect Light.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
    padding-bottom: 6px;
}

.bolder{
  font-weight: 500;
}

nav a{
    /* padding: 5px 10px; */
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 0px;
    display: inline-block;
    /* border-radius: 4px; */
    color: #578fc1;
}

nav a:hover{
    background-color: #f2f2f2;
}

nav .router-link-active{
    color:red;
}
.box-shadow{
    /* box-shadow: 0 .25rem .75rem rgba(0,0,0,.05); */
}

.card-text{
    font-family: peddana;
}

h4,.montst{
    font-family: 'Montserrat' !important;
}

.spinner{
  margin: 0 auto;
  margin-top: 500px;
}

mat-card-header{
    /* font-family: DavidLibre; */
    font-family: 'Montserrat' !important;
    text-align: center !important;
    font-size: 1.75em;
    min-height: 2.25em;
    display: inline-block !important;
    width: 100%;
    /* background-color: grey; */
    /* font-weight: 250; */
    /* font-size: rem; */
    /* font-weight: lighter; */
}
mat-card-title, .mat-card-header-text{
    text-align: center !important;
    margin:0 auto;

}
mat-card:hover, .card:hover{
    cursor: pointer;
}

.inlined{
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
}


.btnz{
    z-index: 2;
    position: relative;
}


.recipe-img{
    height: 300px;
    object-fit: cover;
}


.samesize{
    min-width: 120px !important;
}


.bg-custom1 {
    background-color: #F8F5F8;
}



#chipList{
    display: inline-block;
}

.floatright{
    float:right;
}

.footer{
    position: fixed;
    bottom:3.5%;
    right: 3% !important;
}


.long{
    font-size: .75em !important;
}

.verylong{
    font-size: .65em !important;
}

.veryverylong{
    font-size: .5em !important;
}

#randombutton{
    color: black;
}

.box-shadow-2{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.inline{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }

.bordered{
  border: 1px solid gray;
}

.rightpanel{
    position: absolute;
    right: 10%;
    height: 510px;
    width: 300px;

    /* top: 100px; */
}

.bold{
  font-weight: bold;
}

.marginleft{
    margin-left: 10px !important;
}


/* ratings */

.rating > mat-radio-group {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

.normalsize{
    font-size: .7em !important;
}

.rating > mat-radio-group > mat-radio-button{
  display:none;
}

.rating > mat-radio-group > label {
  position: relative;
  width: .75em;
  height: .75em;
  font-size: .6vw;
  /* color: #FFD700; */
  cursor: pointer;
}

.rating > mat-radio-group > label::before{
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating > mat-radio-group > label:hover:before,
.rating > mat-radio-group > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > mat-radio-group > .mat-radio-checked ~ label:before{
  opacity:1;
}

.rating:hover > mat-radio-group > .mat-radio-checked ~ label:before{
  opacity: 0.4;
}



