@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

nav {
    padding-bottom: 6px;
}

nav a{
    /* padding: 5px 10px; */
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 0px;
    display: inline-block;
    /* border-radius: 4px; */
    color: #578fc1;
}

nav a:hover{
    background-color: #f2f2f2;
}

nav .router-link-active{
    color:red;
}
.box-shadow{
    /* box-shadow: 0 .25rem .75rem rgba(0,0,0,.05); */
}

.card-text{
    font-family: peddana;
}

h4,.montst{
    font-family: 'Montserrat' !important;
}

mat-card-header{
    /* font-family: DavidLibre; */
    font-family: 'Montserrat' !important;
    text-align: center !important;
    font-size: 1.75em;
    /* background-color: grey; */
    /* font-weight: 250; */
    /* font-size: rem; */
    /* font-weight: lighter; */
}
mat-card:hover, .card:hover{
    cursor: pointer;
}

.inlined{
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
}


.btnz{
    z-index: 2;
    position: relative;
}


.recipe-img{
    height: 300px;
}


.samesize{
    min-width: 120px;
}


.bg-custom1 {
    background-color: #F8F5F8;
}



#chipList{
    display: inline-block;
}

.floatright{
    float:right;
}

.footer{
    position: fixed;
    bottom:3.5%;
    right: 3% !important;
}


.long{
    font-size: .75em !important;
}

.verylong{
    font-size: .65em !important;
}

.veryverylong{
    font-size: .5em !important;
}

#randombutton{
    color: black;
}