body {
  background-image: url("../../assets/Rect Light.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  padding-bottom: 6px;
}

.bolder {
  font-weight: 500;
}

nav a {
  /* padding: 5px 10px; */
  text-decoration: none;
  margin-left: 10px;
  margin-bottom: 0px;
  display: inline-block;
  /* border-radius: 4px; */
  color: #578fc1;
}

nav a:hover {
  background-color: #f2f2f2;
}

nav .router-link-active {
  color: red;
}
.box-shadow {
  /* box-shadow: 0 .25rem .75rem rgba(0,0,0,.05); */
}

.card-text {
  font-family: "Noto Sans JP", sans-serif !important;
}

h4,
.montst {
  font-family: "Noto Sans JP", sans-serif !important;
}

mat-card-header {
  /* font-family: DavidLibre; */
  font-family: "Noto Sans JP", sans-serif !important;
  text-align: center !important;
  font-size: 1.75em;
  min-height: 2.25em;
  display: inline-block !important;
  width: 100%;
  /* background-color: grey; */
  /* font-weight: 250; */
  /* font-size: rem; */
  /* font-weight: lighter; */
}
mat-card-title,
.mat-card-header-text {
  text-align: center !important;
  margin: 0 auto;
}
mat-card:hover,
.card:hover {
  cursor: pointer;
}
mat-card {
  padding-bottom: 0px;
}

.inlined {
  display: inline-block;
  padding-left: 10px;
  padding-top: 10px;
}

.headerText {
  font-size: 2.25em;
  margin: 0 0 64px;
}

.btnz {
  z-index: 2;
  position: relative;
}

.recipe-img {
  height: 300px;
  object-fit: cover;
}

.samesize {
  min-width: 120px !important;
}

.bg-custom1 {
  background-color: #f8f5f8;
}

#chipList {
  display: inline-block;
}

.floatright {
  float: right;
}

.footer {
  position: fixed;
  bottom: 3.5%;
  right: 3% !important;
}

.long {
  font-size: 0.75em !important;
}

.verylong {
  font-size: 0.65em !important;
}

.veryverylong {
  font-size: 0.5em !important;
}

#randombutton {
  color: black;
}

.box-shadow-2 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.inline {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.bordered {
  border: 1px solid gray;
}

.rightpanel {
  position: absolute;
  right: 10%;
  height: 510px;
  width: 300px;

  /* top: 100px; */
}

.bold {
  font-weight: bold;
}

.marginleft {
  margin-left: 10px !important;
}

.addRecipeButton {
  z-index: 1 !important;
  /* position: relative !important; */
}

/* mat-card{
  z-index: 1 !important;
} */

.stretched-link {
  z-index: 1 !important;
}

/* ratings */

.rating > mat-radio-group {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

.normalsize {
  font-size: 0.7em !important;
}

.rating > mat-radio-group > mat-radio-button {
  display: none;
}

.rating > mat-radio-group > label {
  position: relative;
  width: 0.75em;
  height: 0.75em;
  font-size: 0.6vw;
  /* color: #FFD700; */
  cursor: pointer;
}

.rating > mat-radio-group > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating > mat-radio-group > label:hover:before,
.rating > mat-radio-group > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > mat-radio-group > .mat-radio-checked ~ label:before {
  opacity: 1;
}

.rating:hover > mat-radio-group > .mat-radio-checked ~ label:before {
  opacity: 0.4;
}

/* scaling for mobile */

@media (max-width: 500px) {
  .paginationcontrols {
    margin-bottom: 3em;
  }
}

@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}

#spinner {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: infinite;
}

#spinnercontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#spinnercontainer {
  width: 200px;
  height: 200px;
}

.spinner {
  margin: 0 auto;
  margin-top: 500px;
}

@media (max-width: 500px) {
  #spinnercontainer {
    position: absolute;
    top: 50%;
    left: 65%;
    // transform: translate(-50%, -50%);
  }
}
