<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
  crossorigin="anonymous"
/>
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap"
  rel="stylesheet"
/>

<div>
  <div *ngIf="recipesLoading" id="spinnercontainer">
    <svg viewBox="0 0 100 100" width="50%" height="50%">
      <defs>
        <filter id="shadow">
          <feDropShadow
            dx="0"
            dy="0"
            stdDeviation="1.5"
            flood-color="#fc6767"
          />
        </filter>
      </defs>
      <circle
        id="spinner"
        style="
          fill: transparent;
          stroke: #21f3e9;
          stroke-width: 6px;
          stroke-linecap: round;
          filter: url(#shadow);
        "
        cx="50"
        cy="50"
        r="45"
      />
    </svg>
  </div>
</div>

<div *ngIf="!recipesLoading" class="container mt-3">
  <br />
  <br />
  <div id="searchFilterButtons">
    <div class="bg-white box-shadow">
      <div class="row">
        <div class="col-lg-5 col-md-4 col-xl-5 col-sm-3 col-2"></div>
        <div class="col-lg-5 col-md-5 col-xl-5 col-sm-6 col-8">
          <h4 class="headerText">{{ headerText }}</h4>
        </div>
        <div class="col-lg-2 col-xl-2 col-md-3 col-sm-3 col-2">
          <a
            role="button"
            id="randombutton"
            (click)="random_recipe()"
            matTooltip="Random"
            matTooltipHideDelay="500"
            ><mat-icon>shuffle</mat-icon></a
          >
        </div>
      </div>
      <div class="row">
        <div class="col-0 col-sm-0 col-md-4 col-lg-2"></div>
        <div class="col-4 col-sm-3 col-md-4 col-lg-2">
          <div ngbDropdown class="d-inline-block">
            <button
              class="samesize montst"
              mat-stroked-button
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              Meal Type
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button
                class="monst"
                ngbDropdownItem
                *ngFor="let mealtype of mealtypes"
                (click)="addFilter(mealtype, 'type')"
              >
                {{ mealtype }}
              </button>
            </div>
          </div>
        </div>
        <div class="col-4 col-sm-3 col-md-4 col-lg-2">
          <div ngbDropdown class="d-inline-block">
            <button
              class="samesize montst"
              mat-stroked-button
              id="dropdownBasic2"
              ngbDropdownToggle
            >
              Time
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <button
                class="monst"
                ngbDropdownItem
                *ngFor="let time of times"
                (click)="addFilter(time, 'time')"
              >
                {{ time }}
              </button>
            </div>
          </div>
        </div>
        <!-- <div ngbDropdown class="d-inline-block">
            <button
              class="samesize montst"
              mat-stroked-button
              id="dropdownBasic3"
              ngbDropdownToggle
            >
              Difficulty
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
              <button
                class="monst"
                ngbDropdownItem
                *ngFor="let difficulty of difficulties"
                (click)="addFilter(difficulty, 'difficulty')"
              >
                {{ difficulty }}
              </button>
            </div>
          </div> -->
        <!-- </div> -->
        <div class="col-4 col-sm-3 col-md-4 col-lg-2">
          <div ngbDropdown class="d-inline-block">
            <button
              class="samesize montst"
              mat-stroked-button
              id="dropdownBasic3"
              ngbDropdownToggle
            >
              Tags
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
              <button
                class="monst"
                ngbDropdownItem
                *ngFor="let tag of tags"
                (click)="addFilter(tag, 'tag')"
              >
                {{ tag }}
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5 col-lg-4">
          <form class="example-form">
            <mat-form-field color="accent" class="example-full-width inline">
              <mat-label>Search Recipes</mat-label>
              <input
                matInput
                placeholder="Ex. Pizza"
                value=""
                (change)="search_recipes()"
                name="searchinput"
                [(ngModel)]="search_value"
              />
              <button
                mat-button
                *ngIf="search_value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="search_value = ''"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <mat-checkbox
              name="searchIng"
              ngDefaultControl
              class="inline"
              (change)="runSearchIfValue()"
              [(ngModel)]="filters.searchIngredients"
              >Search Ingredients</mat-checkbox
            >
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col-3">
          <mat-chip-list #chipList>
            <mat-chip
              *ngFor="let filter of filters.keywords"
              (removed)="removeFilter(filter, 'keywords')"
            >
              {{ filter }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip
              *ngIf="filters.type != ''"
              (removed)="removeFilter(filters.type, 'type')"
            >
              {{ filters.type }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip
              *ngIf="filters.time != ''"
              (removed)="removeFilter(filters.type, 'time')"
            >
              {{ filters.time }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip
              *ngIf="filters.difficulty != ''"
              (removed)="removeFilter(filters.type, 'difficulty')"
            >
              {{ filters.difficulty }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip
              *ngIf="filters.tags != ''"
              (removed)="removeFilter(filters.type, 'tag')"
            >
              {{ filters.tags }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
  </div>

  <br /><br />
  <div class="row">
    <div
      *ngFor="
        let recipe of recipes | paginate: { itemsPerPage: 9, currentPage: p }
      "
      class="col-lg-4 mb-4 grid-margin"
    >
      <div>
        <mat-card class="shadow mb-5 bg-white rounded">
          <mat-card-header>
            <mat-card-title
              [ngClass]="{
                long: recipe.name.length > 20,
                verylong: recipe.name.length > 30,
                veryverylong: recipe.name.length > 45
              }"
            >
              {{ recipe.name }}</mat-card-title
            >
          </mat-card-header>

          <img
            mat-card-image
            *ngIf="hasImage(recipe.id)"
            class="card-img-top recipe-img"
            src="{{ getImgDataS3(recipe) }}"
            (error)="imgError($event, recipe)"
            alt="image"
          />
          <a class="stretched-link" (click)="viewSingleRecipe(recipe)"></a>
        </mat-card>
      </div>
    </div>

    <!-- <div *ngIf="!dev" class="bordered rightpanel">
      <mat-card class="p-3 mb-5">
        <mat-card-header>
          <mat-card-title class="bold">Most Popular</mat-card-title>
        </mat-card-header>
        <mat-card-content class="bg-custom2">
          <p>Easy Vegan</p>
          <p>Joe's Smoothies</p>
        </mat-card-content>
      </mat-card>
      <h4 class="rightpanelText">Popular Lists</h4>
    </div> -->
  </div>

  <pagination-controls
    class="floatright paginationcontrols"
    (pageChange)="p = $event; pageChanged($event); scrollTop()"
  ></pagination-controls>
</div>
<div>
  <footer class="footer addRecipeButton">
    <button
      class=""
      color="primary"
      mat-fab
      (click)="loggedIn() ? openNewRecipeDialog() : toLogin()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </footer>
</div>
