mat-form-field {
    width: 100%;
  }
  
  #chipList{
      display: inline-block;
  }
  
  .link{
    color: blue;
  }
  
  .clickable{
    cursor: pointer;
  }
  
  .directionsstep{
    border: 1px solid black;
  }
  
  .marginsm{
    margin: 5px 5px 5px 5px;
  }