<h1 mat-dialog-title>{{ data.title ? data.title : "Add a Recipe" }}</h1>
<!-- <form (ngSubmit)="onSubmit()" -->

<div mat-dialog-content>
  <!-- <a role="button" class="clickable link" *ngIf="!import" (click)="import=!import">Import</a>
  <mat-form-field *ngIf="import">
    <mat-label>Recipe URL</mat-label>
    <input matInput [(ngModel)]="recipeurl" >
  </mat-form-field>
    <button *ngIf="import" mat-button (click)="importRecipe()">Ok</button> -->

  <div class="recipe-fields">
    <p>
      <span
        [ngClass]="{ noimg: !hasFile, hasimg: hasFile }"
        class="select-wrapper"
      >
        <input
          (change)="readImage($event.target.files)"
          id="fileupload"
          name="fileupload"
          accept="image/*"
          type="file"
        />
      </span>
      <span>Recipe Photo</span>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Recipe Name</mat-label>
        <input matInput [(ngModel)]="data.name" required />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Original Author/Link (Optional)</mat-label>
        <input matInput [(ngModel)]="data.author" />
      </mat-form-field>
    </p>
    <p *ngIf="data.edit">
      <mat-form-field>
        <mat-label>Submitted By </mat-label>
        <input matInput [(ngModel)]="data.submittedby" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Short Description of Recipe(Optional)</mat-label>
        <input matInput [(ngModel)]="data.blurb" />
      </mat-form-field>
    </p>
    <div class="margintop">
      <span>Ingredients</span>
      <div *ngFor="let ingredient of data.ingredients;let i = index">

        <mat-form-field>
          <!-- <mat-label>e.g. 2 cups flour</mat-label> -->
          <input matInput
          [name]="'d_ingredient_field_'+i"
          [(ngModel)]="ingredient.ingredient" required />
          <button
          class="clickable floatright"
          mat-icon-button
          (click)="removeIngredient(i)"
          >
            <mat-icon class="closeIcon">close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <button mat-stroked-button color="primary" (click)="addIngredient()" class="stepbutton">Add Ingredient</button>
      <!-- <button mat-button (click)="addHeader()">Add Header</button> -->
    </div>

    <div class="margintop">
      <span>Directions</span>
      <div *ngFor="let direction of data.directions;let i = index">

      <mat-form-field>
        <mat-label>Step {{i+1}}</mat-label>
        <input matInput
          [name]="'d_direction_field_'+i"
          [(ngModel)]="direction.step" required />
          <button
          class="clickable floatright"
          mat-icon-button
          (click)="removeDirection(i)"
          >
            <mat-icon class="closeIcon">close</mat-icon>
          </button>
      </mat-form-field>
      </div>
      <button mat-stroked-button color="primary" (click)="addStep()" class="stepbutton">Add Step</button>
      <!-- <button mat-button (click)="addHeader()">Add Header</button> -->
    </div>
    <p class="margintop">
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select
          [(ngModel)]="dialogue_type"
          (selectionChange)="dialogue_addType()"
          matInput
          multiple
          required
        >
          <mat-option value="Breakfast">Breakfast</mat-option>
          <mat-option value="Lunch/Dinner">Lunch/Dinner</mat-option>
          <mat-option value="Dessert">Desserts</mat-option>
          <mat-option value="Sauces/Spices">Sauces/Spices</mat-option>
          <mat-option value="Sides">Sides</mat-option>
          <mat-option value="Holiday">Holiday</mat-option>
          <mat-option value="Breads">Breads</mat-option>
          <mat-option value="Salads">Salads</mat-option>
          <mat-option value="Soups">Soups</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Difficulty</mat-label>
        <mat-select [(ngModel)]="data.difficulty" matInput>
          <mat-option value="Easy">Easy</mat-option>
          <mat-option value="Moderate">Moderate</mat-option>
          <mat-option value="Hard">Hard</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox [(ngModel)]="data.difficultyWarning" value="True"
        >Requires Special Equipment (e.g. Ice cream maker)</mat-checkbox
      >
    </p>
    <br />
    <p>
      <mat-form-field>
        <mat-label>Tags</mat-label>
        <mat-select
          [(ngModel)]="dialogue_tags"
          (selectionChange)="dialogue_addTags()"
          matInput
          multiple
        >
          <mat-option value="Nut Free">Nut Free</mat-option>
          <mat-option value="Gluten Free">Gluten Free</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <br />
    <p>
      <mat-form-field>
        <mat-label>Time (in minutes)</mat-label>
        <input required pattern="\d+" matInput [(ngModel)]="data.timelength" />
      </mat-form-field>

      <mat-checkbox [(ngModel)]="data.timeWarning" value="True"
        >Must Sit Overnight</mat-checkbox
      >
    </p>
    <br />

    <p>
      <mat-form-field>
        <mat-label>Yield</mat-label>
        <input
          matInput
          placeholder="e.g. 16 cookies"
          [(ngModel)]="data.yield"
        />
      </mat-form-field>
    </p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <div>
    <button
      mat-button
      [disabled]="!newRecipeFieldsComplete()"
      [mat-dialog-close]="data"
      cdkFocusInitial
    >
      {{ data.submitText ? data.submitText : "Submit Suggestion" }}
    </button>
  </div>
  <!-- <div *ngIf="data.name != '' && data.timelength != 0"> -->
  <!-- <div *ngIf="newRecipeFieldsComplete()">
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
      {{ data.submitText ? data.submitText : "Submit Suggestion" }}
    </button>
  </div> -->
</div>
