
    <!-- <input type="text" placeholder="Enter ingredient..." [(ngModel)]="added_ingredient"> -->


<li *ngFor="let ingredient of my_ingredients" class="horizlist">
    <a href="#" (click)="remove(ingredient)">{{ ingredient }}</a>
</li>






<div class="ng-autocomplete">
<ng-autocomplete
  [data]="ingdata"
  [searchKeyword]="keyword"
  placeHolder="Add Ingredient..."
  (selected)='selectEvent($event)'
  (inputChanged)='onChangeSearch($event)'
  (inputFocused)='onFocused($event)'
  [itemTemplate]="itemTemplate"
  [notFoundTemplate]="notFoundTemplate"
  [minQueryLength]="3"
  #ngacinput
  ></ng-autocomplete>

<ng-template #itemTemplate let-item>
<a [innerHTML]="item.name"></a>
</ng-template>

<ng-template #notFoundTemplate let-notFound>
<div [innerHTML]="notFound"></div>
</ng-template>
</div>

<br>
<button (click)="findRecipes()">Refresh Recipes</button>
<br>
<br>


    <!-- <li *ngFor="let recp of my_recipes" (click)="remove(ingredient)">
        {{ recp }}
    </li> -->
