<br>
<br>
  <div class="container" *ngIf="recipe_full">
    <div class="row">

      <div class="col"></div>

      <div class="col-8">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{recipe_full.name}}</mat-card-title>
            <mat-card-subtitle>
              <div>
                <div class="graysmall">
                  <p class="inline">Type:</p>
                  <p class="inline">{{ recipe_full.type }}</p>
                </div>
                <div class="graysmall">
                  <p class="inline">Length:</p>
                  <p class="inline">{{ recipe_full.timelength }}</p>
                </div>
                <div class="graysmall">
                  <p class="inline">Difficulty:</p>
                  <p class="inline">{{ recipe_full.difficulty }}</p>
                </div>
                <div class="graysmall">
                  <p class="inline">Author:</p>
                  <p class="inline">{{ recipe_full.author }}</p>
                </div>
              </div>
            </mat-card-subtitle>
          </mat-card-header>
          <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
          <mat-card-content>
            <!-- ingredients -->
            <div>
              <label ngbAutofocus for="ingredientsdiv" class="montst">Ingredients</label>
                <div *ngFor="let ingredient of recipe_full.ingredients" id="ingredientsdiv">
                  <div> <p class="montst-sm">{{ ingredient }}</p></div>
                </div>
              <br>
            </div>

            <hr>

            <!-- directions -->
            <div>
              <label for="directionsdiv" class="montst">Directions</label>
                <div *ngFor="let direction of recipe_full.directions" id="directionsdiv">
                  <p class="montst-sm">- {{ direction }}</p>
                </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col"></div>
    </div>

</div>

