.montst {
  font-family: "Montserrat" !important;
  font-size: 1.2em;
  font-weight: bold;
}

.montst-bg {
  font-family: "Montserrat" !important;
  font-size: 1.5em;
}

.pedna {
  font-family: peddana;
  font-weight: 50 !important;
}

.montst-bg-it {
  font-family: "Montserrat" !important;
  font-size: 1.5em;
  font-style: italic;
}

.floatright {
  float: right;
}

.floatleft {
  float: left;
}

.lesspadding {
  padding-left: 0px;
}

mat-accordion,
mat-expansion-panel {
  width: 100% !important;
  box-shadow: none;
}

.tilefix {
  /* position: absolute; */
  width: 100%;
  /* height: 100%; */
  box-shadow: none;
}

mat-panel-title {
  float: right;
}

.widthtf {
  width: 75%;
}

.inline {
  display: inline-block;
  padding-left: 10px;
}

.editable:hover {
  background: #fff;
  border-color: #69c773;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15) inset;
  padding: 0.5em;
  border-radius: 3px;
}

.montst {
  font-family: "Montserrat" !important;
  font-size: 1.2em;
  font-weight: bold;
}

.montst-sm {
  font-family: "Montserrat" !important;
  font-size: 0.95em;
}

.montst-bg {
  font-family: "Montserrat" !important;
  font-size: 1.5em;
}

.montst-lg {
  font-family: "Montserrat" !important;
  font-size: 1.5em;
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.pedna {
  font-family: peddana;
  font-weight: 50 !important;
}

.selectedScale {
  background-color: #eeeeee;
}

.montst-bg-it {
  font-family: "Montserrat" !important;
  font-size: 1.7em;
  font-style: italic;
}

.modal-header-button {
  margin-right: 25px;
}

.btnpadding {
  margin-left: 15px;
  margin-right: 5px;
  margin-top: 10px;
}

.btnpaddingnoright {
  margin-left: 15px;
  /* margin-right: 5px; */
  margin-top: 10px;
}

.valigncenter {
  vertical-align: middle;
  display: inline;
}

mat-accordion,
mat-expansion-panel {
  width: 100% !important;
  box-shadow: none;
}

.tilefix {
  /* position: absolute; */
  width: 100%;
  /* height: 100%; */
  box-shadow: none;
}

mat-panel-title {
  float: right;
}

.widthtf {
  width: 75%;
}

.inlined {
  display: inline-block;
  padding-right: 5px;
}

.small p {
  font-size: 1em;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.div_metainfo {
  /* margin-left: 10%; */
  /* margin: 0 auto; */
}

mat-card-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

mat-card-header {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
  margin-bottom: 3px;
}

.gray {
  color: gray;
}

.black {
  color: black;
}

.editable:hover {
  background: #fff;
  border-color: #69c773;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15) inset;
  padding: 0.5em;
  border-radius: 3px;
}

.imagewrap {
  display: inline-block;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 3%;
  cursor: pointer;
  z-index: 100;
}

.topright {
  position: absolute;
  top: 8%;
  right: 5%;
  cursor: pointer;
  z-index: 100;
}

.div_ingredients_header {
  padding-top: 10px;
  border-top: 1px solid #dee2e6;
}

.div_ingredients {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
  margin-bottom: 3px;
  border-top: 1px solid #dee2e6;
  padding-top: 10px;
}

.div_directions {
  border-top: 1px solid #dee2e6;
  padding-top: 10px;
}

.div_image {
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 3px;
}

.header_div {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
  margin-bottom: 3px;
}

.time_div {
  margin: 0 auto;
  width: 50%;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.time_section {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

ol.directions_list {
  list-style: none;
  overflow: hidden;
  counter-reset: numList;
}

.numbered_item {
  /* float: left; */
  position: relative;
  margin-top: 10px;
}

.numbered_item:before {
  counter-increment: numList;
  content: counter(numList);

  float: left;
  position: absolute;
  left: -26px;

  font: bold 12px sans-serif;
  text-align: center;
  color: #fff;
  line-height: 18px;

  width: 18px;
  height: 18px;
  background: #3f51b5;

  -moz-border-radius: 999px;
  border-radius: 999px;
}

.heart-icon {
  color: #f44336;
}

mat-card-header {
  justify-content: center;
}

.marginright {
  margin-right: 5px;
}

.marginleft {
  margin-left: 25px;
}

.marginleftsm {
  margin-left: 10px;
}

.margintop {
  margin-top: 8px;
}

.margintopmd {
  margin-top: 100px;
}

.margintopmd2 {
  margin-top: 20px;
}

.flexrow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

mat-card {
  border: 4px double #dee2e6;
}

.text_md {
  font-size: 0.75em;
}

/* ratings */

.rating > mat-radio-group {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating > mat-radio-group > mat-radio-button {
  display: none;
}

.rating > mat-radio-group > label {
  position: relative;
  width: 0.75em;
  font-size: 1.1em;
  /* color: #FFD700; */
  cursor: pointer;
}

.rating > mat-radio-group > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating > mat-radio-group > label:hover:before,
.rating > mat-radio-group > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > mat-radio-group > .mat-radio-checked ~ label:before {
  color: #f7c33b;
  opacity: 1;
}

.rating:hover > mat-radio-group > .mat-radio-checked ~ label:before {
  opacity: 0.4;
}

.clearfix {
  clear: both;
}

/* button scaling for mobile */

@media (max-width: 500px) {
  .btn-responsive {
    padding: 0px 0px 0px 0px !important;
    /* width: .5em !important; */
    /* font-size:80%; */
    line-height: 25px;
  }
  .round-image {
    width: 200px;
    height: 200px;
    /* background-size: cover; */
    background-size: contain;
    background-repeat: no-repeat;

    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    margin-top: -60%;
  }
  .recipetitle {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
  }

  .marginbottommobile {
    margin-bottom: 10px;
  }

  .margintoplg {
    margin-top: 25px;
  }
}

/* @media (min-width: 769px) and (max-width: 992px) { */
@media (min-width: 500px) {
  .btn-responsive {
    /* margin-right:8px; */
    /* font-size:90%; */
    /* line-height: 1.2; */
  }

  .round-image {
    width: 250px;
    height: 250px;
    /* background-size: cover; */
    background-size: contain;
    background-repeat: no-repeat;

    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    margin-top: -55%;
  }
  .recipetitle {
    font-weight: bold;
    font-size: 1.8em;
  }

  .margintoplg {
    margin-top: 65px;
  }
}

@media print {
  .no-print {
    display: none;
  }

  .directions_list {
    max-width: 785px;
    flex-wrap: wrap;
    display: flex;
  }
}
