<br />
<br />
<div *ngIf="recipeLoading" id="spinnercontainer">
  <svg viewBox="0 0 100 100" width="50%" height="50%">
    <defs>
      <filter id="shadow">
        <feDropShadow dx="0" dy="0" stdDeviation="1.5" flood-color="#fc6767" />
      </filter>
    </defs>
    <circle
      id="spinner"
      style="
        fill: transparent;
        stroke: #21f3e9;
        stroke-width: 6px;
        stroke-linecap: round;
        filter: url(#shadow);
      "
      cx="50"
      cy="50"
      r="45"
    />
  </svg>
</div>

<div class="container margintopmd" *ngIf="recipe_full">
  <div *ngIf="!recipeLoading" class="row">
    <div class="col"></div>

    <div id="single-recipe-card" class="col-12 col-md-9">
      <mat-card>
        <div *ngIf="userAdmin()">
          <button mat-button (click)="openEditRecipeDialog()" class="no-print">
            <!-- <mat-icon>edit</mat-icon> -->
            <img src="../../assets/img/edit.svg" class="editicon" />
          </button>
        </div>
        <div mat-card-avatar class="flexrow">
          <div *ngFor="let image of getImagesS3(recipe_full)">
            <img
              *ngIf="image.primary_img"
              class="round-image"
              src="{{ image.url }}"
              (error)="imgError($event, image)"
            />
          </div>
        </div>
        <div class="floatright">
          <div *ngIf="userSaved()">
            <button
              class="btnpaddingnoright"
              mat-icon-button
              (click)="unbookmark_recipe()"
            >
              <mat-icon class="heart-icon">favorite</mat-icon>
            </button>
            <label class="valigncenter">{{ savedCount }}</label>
          </div>

          <div *ngIf="!userSaved()">
            <button
              class="btnpaddingnoright"
              mat-icon-button
              (click)="bookmark_recipe()"
            >
              <mat-icon class="heart-icon">favorite_border</mat-icon>
            </button>
            <label class="valigncenter">{{ savedCount }}</label>
          </div>

          <!-- <button class="btnpadding" mat-icon-button (click)="shareRecipe()" ngbTooltip="Link copied" triggers="click:blur">
              <mat-icon>share</mat-icon>
            </button> -->
        </div>

        <div class="clearfix"></div>

        <div *ngIf="userAdmin()" class="no-print">
          <input
            type="file"
            accept="image/*"
            name="fileupload"
            id="fileupload"
            (change)="readImage($event.target.files)"
          />
        </div>

        <mat-card-header class="recipeheader">
          <mat-card-title class="margintoplg">
            <div
              [ngClass]="{ deleted: recipe_full.deleted == true }"
              class="recipetitle"
            >
              {{ recipe_full.name }}
              {{ recipe_full.deleted ? " - deleted" : null }}
            </div>

            <div class="rating margintopmd2">
              <mat-radio-group
                name="rating"
                [(ngModel)]="recipe_rating"
                (click)="rateRecipe($event)"
              >
                <p
                  *ngIf="recipe_rating && rating_count == 1"
                  class="marginleftsm text_md"
                >
                  {{ rating_count }} Rating
                </p>
                <p
                  *ngIf="recipe_rating && rating_count != 1"
                  class="marginleftsm text_md"
                >
                  {{ rating_count }} Ratings
                </p>
                <p
                  *ngIf="!recipe_rating || recipe_rating == 0"
                  class="marginleftsm text_md"
                >
                  0 Ratings
                </p>
                <mat-radio-button
                  name="rating"
                  [value]="5"
                  id="5"
                ></mat-radio-button
                ><label for="5">☆</label>
                <mat-radio-button
                  name="rating"
                  [value]="4"
                  id="4"
                ></mat-radio-button
                ><label for="4">☆</label>
                <mat-radio-button
                  name="rating"
                  [value]="3"
                  id="3"
                ></mat-radio-button
                ><label for="3">☆</label>
                <mat-radio-button
                  name="rating"
                  [value]="2"
                  id="2"
                ></mat-radio-button
                ><label for="2">☆</label>
                <mat-radio-button
                  name="rating"
                  [value]="1"
                  id="1"
                ></mat-radio-button
                ><label for="1">☆</label>
              </mat-radio-group>
            </div>
          </mat-card-title>

          <mat-card-subtitle>
            <div class="div_metainfo">
              <div class="small">
                <p class="gray inline italics">Type:</p>
                <p class="black inline">{{ recipe_full.type }}</p>
                <p class="gray inline italics">Length:</p>
                <p class="black inline">{{ recipe_full.timelength }} min</p>
              </div>
              <div class="small">
                <p *ngIf="recipe_full.author" class="gray inline italics">
                  Author:
                </p>
                <p *ngIf="recipe_full.author" class="black inline">
                  {{ recipe_full.author }}
                </p>
                <p *ngIf="recipe_full.submittedby" class="gray inline italics">
                  Submitted By:
                </p>
                <p *ngIf="recipe_full.submittedby" class="black inline">
                  {{ recipe_full.submittedby }}
                </p>
              </div>
              <div class="small">
                <p *ngIf="recipe_full.yield" class="gray inline italics">
                  Yield:
                </p>
                <p *ngIf="recipe_full.yield" class="black inline">
                  {{ recipe_full.yield }}
                </p>
              </div>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="container">
          <div *ngIf="recipe_full.blurb" class="flexrow div_blurb">
            <p class="montst-md blurb">{{ recipe_full.blurb }}</p>
          </div>
          <div class="row div_ingredients">
            <div class="col-12 col-md-6 lesspadding">
              <label
                ngbAutofocus
                for="ingredientsdiv"
                class="montst-lg margintop"
                >Ingredients</label
              >
            </div>
            <div class="floatright marginbottommobile marginright no-print">
              <div class="floatleft margintop marginright">Scale</div>
              <button
                mat-stroked-button
                color="primary"
                class="floatleft btn-responsive"
                [ngClass]="{ selectedScale: recipe_scale == 0.5 }"
                (click)="scaleRecipe(0.5)"
              >
                .5x
              </button>
              <button
                mat-stroked-button
                color="primary"
                class="floatleft btn-responsive"
                [ngClass]="{ selectedScale: recipe_scale == 1 }"
                (click)="scaleRecipe(1)"
              >
                1x
              </button>
              <button
                mat-stroked-button
                color="primary"
                class="floatleft btn-responsive"
                [ngClass]="{ selectedScale: recipe_scale == 2 }"
                (click)="scaleRecipe(2)"
              >
                2x
              </button>
              <button
                mat-stroked-button
                color="primary"
                class="floatleft btn-responsive"
                [ngClass]="{ selectedScale: recipe_scale == 3 }"
                (click)="scaleRecipe(3)"
              >
                3x
              </button>
            </div>
            <div class="floatright marginbottommobile">
              <!-- <button mat-stroked-button color="primary" class="floatleft btn-responsive" [ngClass]="{'selectedScale': measure_system == 'us'}" (click)="toggleMeasureSystem('us')">US</button> -->
              <!-- <button mat-stroked-button color="primary" class="floatleft btn-responsive" [ngClass]="{'selectedScale': measure_system == 'metric'}" (click)="toggleMeasureSystem('metric')">metric</button> -->
            </div>
            <div class="floatright marginbottommobile marginright no-print">
              <button
                *ngIf="!isMobile()"
                mat-button
                color="primary"
                class="floatleft btn-responsive"
                (click)="openPrintDialog()"
              >
                Print
              </button>
            </div>

            <div class="marginleft margintop" *ngIf="recipe_scale == 1">
              <div
                *ngFor="let ingredient of recipe_full.ingredients"
                id="ingredientsdiv"
              >
                <div>
                  <p class="montst-sm">{{ ingredient }}</p>
                </div>
              </div>
            </div>
            <div class="marginleft margintop" *ngIf="recipe_scale != 1">
              <div
                *ngFor="let ingredient of scaled_ingredients"
                id="ingredientsdiv"
              >
                <div>
                  <p class="montst-sm">{{ ingredient }}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- directions -->
          <div class="row div_directions">
            <label for="directionsdiv" class="montst-lg margintop"
              >Directions</label
            >
          </div>
          <div class="row">
            <div>
              <ol class="directions_list" id="directionsdiv">
                <li
                  *ngFor="
                    let direction of recipe_full.directions;
                    let i = index
                  "
                  class="montst-sm numbered_item"
                >
                  {{ direction }}
                </li>
              </ol>
            </div>
          </div>
        </mat-card-content>
        <div *ngIf="recipe_full.pending">
          <button mat-button (click)="approveRecipe()" color="primary">
            Approve
          </button>
          <button mat-button (click)="rejectRecipe()" color="warn">
            Reject
          </button>
        </div>
      </mat-card>
      <mat-card id="comments-card">
        <mat-card-header>
          <mat-card-title class="margintopmd2">
            <div class="commentsHeader">Comments</div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="container">
          <div class="newComment">
            <span *ngIf="loggedIn()"
              ><button
                mat-fab
                [ngStyle]="{ 'background-color': currentUserColor() }"
                class="commentinline usericon nopaddingfab"
              >
                {{ getCurrentUserIcon() }}
              </button>
            </span>
            <span *ngIf="!loggedIn()">
              <img
                src="../../assets/img/user.svg"
                class="commentinline usericon"
              />
            </span>

            <mat-form-field class="commentinput flex">
              <mat-label>{{
                loggedIn() ? "Leave a comment..." : "Log in to comment"
              }}</mat-label>
              <input
                [disabled]="!loggedIn()"
                matInput
                [(ngModel)]="newCommentText"
                placeholder="Leave a comment..."
              />
            </mat-form-field>
            <button
              (click)="submitComment()"
              [disabled]="!loggedIn() || newCommentText.trim() === ''"
              class="submitbutton"
              matSuffix
              mat-stroked-button
              color="primary"
            >
              Submit
            </button>
          </div>

          <!-- <input matInput type="text" placeholder="Write a Comment" /> -->
          <div class="comments" *ngFor="let comment of recipe_comments">
            <div class="comment">
              <span
                ><button
                  mat-fab
                  [ngStyle]="{ 'background-color': userColor(comment) }"
                  class="commentinline usericon nopaddingfab"
                >
                  {{ getUserIcon(comment) }}
                </button>
              </span>
              <!-- <span *ngIf="!loggedIn()">
                <img
                  src="../../assets/img/user.svg"
                  class="commentinline usericon"
                />
              </span> -->
              <span class="commentinline">{{
                comment.username | titlecase
              }}</span>
              <span class="commentdate">{{
                formatDate(comment.create_date)
              }}</span>
              <hr />
              <span class="commenttext">{{ comment.commenttext }}</span>
            </div>
          </div>
          <div class="views">
            <span *ngIf="viewCount">Views: {{ viewCount }}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col"></div>
  </div>
</div>
