<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          [formControl]="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': !email.pristine && email.invalid }"
          (blur)="onBlurEmail()"
        />
        <div *ngIf="!email.pristine && email.invalid" class="invalid-feedback">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Please enter a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          [formControl]="username"
          class="form-control"
          [ngClass]="{ 'is-invalid': !username.pristine && username.errors }"
        />

        <div
          *ngIf="!username.pristine && username.errors"
          class="invalid-feedback"
        >
          <div *ngIf="username.errors.required">Username is required</div>
          <div *ngIf="username.errors.minlength">
            Username must be at least 4 characters long
          </div>
        </div>
        <!-- <div *ngIf="!username.pristine && username.errors" class="invalid-feedback">
          <div *ngIf="username.errors.required">Username is required</div>
        </div> -->
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          [formControl]="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': !password.pristine && password.errors }"
        />
        <div
          *ngIf="!password.pristine && password.errors"
          class="invalid-feedback"
        >
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button
          [disabled]="loading || !form.valid"
          class="btn btn-primary"
          [ngClass]="{ disabled: !form.valid }"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Register
        </button>
        <a routerLink="../login" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
